.infos{
	position:		absolute;
	width:			250px;
	right:			0px;
	top:			0;
	bottom:			0;
	padding:		10px;
	z-index:		2;
	overflow: 		auto;

	border-left:	1px solid #888;
	background:		#454D50;
	font-size:		11pt;
}

.leftcolumn{
	position:		absolute;
	left:			20px;
	top:			0;
	bottom:			0;
	right:			52%;
	padding:		10px;
	z-index:		5;
	overflow-x:		hidden;
	overflow-y:		auto;

	font-size:		11pt;
}

.rightcolumn{
	position:		absolute;
	right:			0;
	top:			0;
	bottom:			0;
	left:			50%;

	padding:		10px;
	overflow:		auto;
	border-left:	3px dashed #555;
}

.infos{
	width:			250px;
}

.bin{
	position:		absolute;
	right:			50px;
	bottom:			30px;
	width:			60px;
	height:			70px;
	z-index:		600;
	color:			white;
	background:		#333;
	border-radius:	5px;
	padding:		5px;
	text-align:		center;
	box-shadow:		0px 2px 5px #111;
}

.bin img{
	height:			50px;
}

.bin.hovered{
	background:		#aaa;
}

.infos fieldset{
	position:	relative;
	width:		100%;
	text-align: right;
}

.infos input[type="text"]{
	right:		105px;
	width:		auto;
}

.explanations{
	font-size:		9pt;
	color:			white;
	padding:		10px;
	border-bottom:	3px solid white;	
	border-top:		3px solid white;
	background:		rgba(0,0,0,0.2);
	box-shadow:		inset 0 0 10px black;
	-moz-box-shadow:inset 0 0 10px black;
	margin-bottom:	5px;
}

.title {
	cursor: pointer;
	color: #ccc;
}

div.infos > div{
	margin-top:		7px;
	background: 	#bbb;
	border-radius:	3px;
	box-shadow:	0 1px 2px #333;
}

.images{
	padding:	5px;
	overflow:	auto;
}


.thmb span{
	display: 	none;
}

.images .thmb {
	border:		2px solid white;
}
.thmb{
	float:		left;
	width: 		60px;
	height: 	60px;
	margin:		3px;
	text-align: center;
}

.thmb:hover{
	border-color: rgb(0,136,232);
}

.title:hover{
	color: rgb(0,136,232);
}

.dropzone:hover{
	background-color: 	#333;
	cursor:				pointer;	
}

ul.subdirs{
	margin-left:	3px;
	display:		none;
	padding-left:	4px;
}

li{
	list-style:		none;
	padding:		3px 0px 3px 6px;
}

li.open > .subdirs,
li.selected > .subdirs{
	padding-left:	3px;
	border-left:	3px solid white;
}

li.selected > .subdirs{
	display:		block;
}

.menu_title.hovered {
	background:		rgb(0,132,236);
}


form.js {
	height:		50px;
	position: 	relative;
}

form.js > input[type="text"]{
	background:		white;
}

div.accountitem,
div.rightcolumn > div{
	padding:			5px;
	overflow:		hidden;
	margin:				10px;
	background: 		#aaa;
	border-radius:		5px;
	-moz-border-radius:	5px;
	box-shadow:	0 1px 2px #333;
	-moz-box-shadow:	0 1px 2px #333;
}

div.accountitem
{
	border-radius:		50px;
	-moz-border-radius:	50px;
}

div.accountitem > div.name,
div.groupitem > div.name{
	color:		white;
	font-size:	12pt;
	text-shadow:1px 1px 3px #333;
	background:	#555;
	box-shadow:	inset 0 3px 7px #333;
	-moz-box-shadow:	inset 0 3px 7px #333;

	float:		left;
	padding:	23px;
	border-radius: 	50px;
	-moz-border-radius: 	50px;

	-webkit-transition:	background ease-in-out .3s;
	transition:			background ease-in-out .3s;
}

div.accountitem:hover > .name,
div.groupitem:hover > .name,
div.groupitem.hovered > .name,
body > div.accountitem > .name {
	background:	rgb(0,136,232);
	color:		white;
}

div.leftcolumn > div.accountitem > .inlinedel,
div.rightcolumn > div.groupitem > .inlinedel
{
	display:	block;
}

div.leftcolumn > div.accountitem,
div.rightcolumn > div.groupitem
{
	position:		relative;
	cursor:			pointer;
	border-radius:	50px 3px 3px 50px;
	-moz-border-radius:	50px 3px 3px 50px;
}

div.leftcolumn > div.groupitem
{
	cursor:			default;
	border-radius:	50px 3px 3px 50px;
	-moz-border-radius:	50px 3px 3px 50px;
}

div.leftcolumn h1,
div.rightcolumn h1{
	display:	block;
	margin:		auto;
	width:		100%;
	text-align:	center;
}

div.inlinedel{
	display:	none;
	float:		left;
	min-width:	30px;
	color:		rgb(0,136,232);
	margin:		3px;
	padding:	0px 7px 1px 0px;
	border-radius:	15px;
	-moz-border-radius:	15px;
	background: white;
	box-shadow:	inset 0px 1px 5px #333;
	-moz-box-shadow:	inset 0px 1px 5px #333;

	cursor:		default;
}

div.accountitem .rmgroup,
div.groupitem .rmacc{
	padding:	0 6px 2px 6px;
	margin-right:	5px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	background: #555;
	color:		white;
	cursor:		pointer;
}

div.newgroup > form > fieldset{
	background:	none;
	box-shadow:	none;
	-moz-box-shadow: none;
	width:		100%;
}

div.accountitem .rmgroup:hover,
div.groupitem .rmacc:hover{
	background:	#333;
	color:		white;
}

#page > .panel {
	right:		271px;
}

div#commentsblock{
	width:800px;
}

div.adminblock{
	width:				375px;
	margin:				25px;
	float:				left;
	background:			#333;
	box-shadow:			0 3px 6px black;
	-moz-box-shadow:	0 3px 6px black;
	color:				white;
}

div.adminblock table td
{
	text-align:			center;
	cursor:				default;
}

div.adminblock table tr:hover{
	background:			#555;
}

div.adminblock table td a,
div.adminblock table td a:visited{
	color:				white;
}

div.adminblock table td a:hover{
	color:				rgb(0,136,232);
}


div.adminblock > div{
	height:				120px;
	overflow:			auto;
}

div.leftcolumn > fieldset{
	margin:				0;
	width:				100%;
}