div.dir{
	margin:		3px;
	padding:	3px;
	min-height:	120px;
	box-shadow:	0px 1px 2px #444;
	cursor: 	default;
	color:		white;
	border:		1px solid white;
	background:	rgba(40,40,40,0.2);
	display:	inline-block;
	vertical-align: top;
	text-align:	center;
	text-shadow: 0 2px 3px #333;
}


div.dir > span {
	height:		50px;
}


div.panel > .dir {
	clear:		both;
	margin:		0;
}

.hovered {
	background:			rgb(0,132,236);
	font-size:			15pt;
	text-align:			center;
}

form.js {
	margin:auto;
	width:	90%;
	height:	50px;
	text-align: center;
	position: relative;
}

form.js > input[type="text"]{

	background:		white;
}