.folders{
	position:		absolute;
	left:			20px;
	top:			0;
	bottom:			0;
	right:			49%;
	padding:		10px;
	z-index:		5;
	overflow-x:		hidden;
	overflow-y:		auto;

	background:		#454D50;
	border-right:	1px solid #888;
	border-left:	1px solid #888;
	font-size:		11pt;
}

.infos{
	position:		absolute;
	right:			0px;
	top:			0;
	bottom:			0;
	width:			250px;
	padding:		10px;
	z-index:		2;
	overflow: 		auto;

	border-right:	1px solid #888;
	border-left:	1px solid #888;
	background:		#454D50;
	font-size:		11pt;
}

.bin{
	position:		absolute;
	right:			50px;
	bottom:			30px;
	width:			60px;
	height:			70px;
	z-index:		600;
	color:			white;
	background:		#333;
	border-radius:	5px;
	padding:		5px;
	text-align:		center;
	box-shadow:		0px 2px 5px #111;
}

.bin img{
	height:			50px;
}

.bin.hovered{
	background:		#aaa;
}

.infos fieldset{
	position:	relative;
	width:		100%;
	text-align: right;
}

.infos input[type="text"]{
	right:		105px;
	width:		auto;
}

.explanations{
	font-size:		9pt;
	color:			white;
	padding:		10px;
	border-bottom:	3px solid white;	
	border-top:		3px solid white;
	background:		rgba(0,0,0,0.2);
	box-shadow:		inset 0 0 10px black;
	-moz-box-shadow:		inset 0 0 10px black;
	margin-bottom:	5px;
}

.title {
	cursor: pointer;
	color: #ccc;
}

div.infos > div{
	margin-top:		7px;
	background: 	#bbb;
	border-radius:	3px;
	box-shadow:	0 1px 2px #333;
}

.images{
	padding:	5px;
	overflow:	auto;
}


.thmb span{
	display: 	none;
}

.images .thmb {
	border:		2px solid white;
}
.thmb{
	float:		left;
	width: 		60px;
	height: 	60px;
	margin:		3px;
	text-align: center;
}

.thmb:hover{
	border-color: rgb(0,136,232);
}

.title:hover{
	color: rgb(0,136,232);
}

.dropzone:hover{
	background-color: 	#333;
	cursor:				pointer;	
}

ul.subdirs{
	margin-left:	3px;
	display:		none;
	padding-left:	4px;
}

li{
	list-style:		none;
	padding:		3px 0px 3px 6px;
}

li.open > .subdirs,
li.selected > .subdirs{
	padding-left:	3px;
	border-left:	3px solid white;
}

li.selected > .subdirs{
	display:		block;
}

.menu_title.hovered {
	background:		rgb(0,132,236);
}


form.js {
	height:		50px;
	position: 	relative;
}

form.js > input[type="text"]{
	background:		white;
}

div.accountitem,
div.groupitem {
	width:		200px;
	min-height:	40px;
	padding:	10px;
	border:		1px solid #aaa;
	overflow:	hidden;
	float:		left;
	margin:		10px;
	background: 	#bbb;
	border-radius:	3px;
	box-shadow:	0 1px 2px #333;

	-webkit-transition:	background ease-in-out .3s;
	transition:			background ease-in-out .3s;
}

div.accountitem:hover,
div.groupitem:hover,
div.groupitem.hovered {
	background:	#666;
}

div.accountitem > div.name,
div.groupitem > div.name{
	clear:		both;
	font-size:	14pt;
	text-shadow:1px 1px 3px #333;
}

div.inlinedel{
	float:		left;
	min-width:	30px;
	color:		rgb(0,136,232);
	margin:		3px;
	padding:	2px 7px 3px 0px;
	border-radius:	15px;
	border:		1px solid rgb(0,136,232);
	background: white;
	box-shadow:	0px 1px 5px #333;
	cursor:		default;
}

div.accountitem .rmgroup,
div.groupitem .rmacc{
	padding:	0 6px 2px 6px;
	margin:		3px;
	border-radius: 20px;
	background: rgb(0,136,232);
	color:		white;
}

div.accountitem .rmgroup:hover,
div.groupitem .rmacc:hover{
	background:	#333;
	color:		white;
}

#page > .panel {
	right:		250px;
}
