form {
	clear:	both;
	max-width: 100%;
	position: relative;
}

form > a {
	display:			inline;
}

fieldset {
	position:			relative;
	margin:				5px 0;
	padding:			0;
	max-width:			100%;
	min-height:			30px;
}

fieldset fieldset,
fieldset.transparent{
	background:			none;
	box-shadow:			none;
}

fieldset > div.fieldname {
	color:				white;
	margin: 			0px 0px 5px 0px;
}

fieldset > div.fieldoptions {
	position:			relative;
	min-height:			30px;
	text-align:			left;
	padding-left:		5px;
	color:				#333;
	font-size:			12pt;
}

fieldset > div.fieldoptions > label {
	color:				white;
}

fieldset.alignright{
	text-align:			right;
}

a.button, 
input[type='submit'] {
	display:			inline-block;
	min-width:			100px;
	margin:				3px;
	padding:			7px;
	text-align:			center;
	cursor:				pointer;
	font-size:			12pt;
	font-family:		"Trebuchet MS", Helvetica, sans-serif;
	text-shadow: 		0 -1px 0px rgba(0,0,0,0.7);
	color:				white;
	text-align:			center;
	padding:			5px;
	border:				1px solid rgb(0,150,232);
	background: 		rgb(0,160,232);
	background: 		-webkit-gradient(linear, left top, left bottom, from(rgb(0,160,232)), to(rgb(0,100,200)));
	background:			-moz-linear-gradient(-90deg, rgb(0,160,232), rgb(0,100,200));

	-moz-border-radius:	2px;
	border-radius:		2px;

}

a.button:hover, 
input[type='submit']:hover {
	text-shadow:		1px 1px 2px rgba(0,0,0,0.5);
	box-shadow: 		inset 0px 1px 1px rgba(0,0,0,0.4), 0 1px 1px rgba(0,0,0,0.2);
}

input[type="password"],
input[type="text"]
{
	position:			absolute;
	left:				0;
	right:				0;
	top:				0;
	bottom:				0;
	width:				100%;
	height:				100%;
	border-radius:		2px;
	background:			white;
	color:				#333;
	font-size:			12pt;
	border:				none;
	padding-left:		5px;

	border-radius:		2px;
	-moz-border-radius:	2px;

	box-shadow:			inset 0 1px 1px #333;
	-moz-box-shadow:	inset 0 1px 1px #333;
	-webkit-transition:	background ease-in-out .3s;
	transition:			background ease-in-out .3s;
}


label{
	font-size:			10pt;
}

input[type="password"]:focus,
input[type="text"]:focus,
input[type="password"]:hover, 
input[type="text"]:hover,
textarea:focus,
textarea:hover {
	outline:			none;	
}

input[type="checkbox"]{
	margin:			10px 10px 10px 0;
}

input[type="password"].visible,
input[type="text"].visible,
textarea {
	border-radius:		2px;
	color:				#333;
	background: 		white;
	padding:			3px;
	font-size:			12pt;
	box-shadow:			inset 0 1px 1px rgba(0,0,0,0.7);
	border-color:		#ccc;
	width: 				100%;
	-webkit-transition:	background ease-in-out .3s;
	transition:			background ease-in-out .3s;
}

select{
	width: 100%;
	height:	30px;
	font-size:	12pt;
	color:	#333;
}

label{
	font-size:	12pt;
	color:		white;
}
