div#container{
	position:	absolute;
	left:		0;
	right:		0;
	top:		0;
	bottom:		0;
	overflow:	hidden;
}

div#menubar{
	position:		absolute;
	left:			0;
	right:			0;
	top:			0;
	height:			30px;
	z-index:		50;

	background:		#ccc;
	border-bottom:	1px solid #aaa;	
}
div#menubar > div:nth-child(1) {
	font-size:		9pt;
}

div#menubar > div:nth-child(2) {
	position:		absolute;
	width:			auto;
	right:			0;
	top:			0;
	height:			auto;
}

div#menubar * a {
	display:		inline-block;
	color:			#333;
}

div#menubar > div > * {
	display:		inline-block;
	margin:			5px;
}

div#menubar > span {
	position:		absolute;
	left:			5px;
	bottom:			0;
	font-size:		7pt;
	width:			300px;
	font-style:		italic;
}

div#menubar > span > a {
	color:			rgb(0,132,236);
}

div#page{
	position:	absolute;
	left:		0;
	right:		0;
	top:		30px;
	bottom:		0;
	overflow:	hidden;
}

div.menu {
	position:		absolute;
	left:			0;
	width:			240px;
	top:			0;
	bottom:			0;
	padding-top:	10px;
	z-index:		5;
	overflow-x:		hidden;
	overflow-y:		auto;

	background:		#454D50;
	font-size:		11pt;
	word-wrap:		break-word;
}

div.menu_item {
	margin:			0 0 0 10px;
}

div.menu_item > .menu_item {
	display:		none;
}

div.menu_item.selected > .menu_item{
	display:		inherit;
}

div.menu_title > a{
	color:		#ccc;
	padding:	2px 0 2px 10px;

	-webkit-transition:	color ease-in-out .1s;
	transition:			color ease-in-out .1s;
}

div.menu_item.selected > .menu_title > a,
div.menu_title > a:hover{
	border-left:	3px solid rgb(0,136,232);
	padding-left:	7px;
	color:			white;
}

div#menu > .adminrights {
	margin-top:		20px;
	background:		#aaa;
}

div.infos{
	position:		absolute;
	width:			230px;
	right:			0;
	top:			0;
	bottom:			0;
	padding:		10px;
	z-index:		2;
	overflow: 		auto;

	background:		#454D50;
	font-size:		11pt;
}

div#menu_hide{
	position:		absolute;
	left:			237px;
	width:			12px;
	top:			0;
	bottom:			0;
	background:		#666;
	cursor:			pointer;
}

div#infos_hide{
	position:		absolute;
	right:			247px;
	width:			12px;
	top:			0;
	bottom:			0;
	background:		#666;
	cursor:			pointer;
}

div#infos_hide:hover,
div#menu_hide:hover{
	background: 	#aaa;
}


div.section{
	clear:				both;
	background: 		#333;
	padding:			0px 25px 5px 25px;
	margin-top:			15px;
	box-shadow:			0px 1px 7px black;
	text-align:			left;
}

div.section h2{
	font-style:			normal;
	background: 		rgb(160,232,0);
	background: 		-webkit-gradient(linear, left top, left bottom, from(rgb(160,232,0)), to(rgb(100,200,0)));
	background:			-moz-linear-gradient(-90deg, rgb(160,232,0), rgb(100,200,0));
	margin:				0px -30px 20px -30px;
	padding:			6px 6px 6px 15px;
	color:				white;
	text-shadow:		1px 1px 3px black;
	box-shadow:			0 2px 5px black;
	border-radius:		2px;
}

div.section a {
    overflow: hidden;
}

div.select{
	position:			fixed;
	background-color: 	rgba(60,60,60,.3);
	border: 			1px solid #ccc;
	z-index:			9001;
	display: 			hidden;
}

div#selection_overlay{
	z-index: 			777;
	position: 			absolute;
	left:				0;
	top:				0;
	right:				0;
	bottom:				0;
	cursor: 			crosshair;
	display:			none;
}