/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link,
#menuright,
.menuright-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 240px;
    }
        #layout.active #menu {
            left: 240px;
            width: 240px;
        }

        #layout.active .menu-link {
            left: 240px;
        }

    #layout.active #image-panel{
        left:240px;
    }

#menuright {
    margin-right: -240px; /* "#menu" width */
    width: 240px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0px 15px rgba(0,0,0,.36);
}

#menuright.active{
    border-color: white;
    right:240px;
}
.menuright-link.active{
    right:240px;
}


#page{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top: 0;
    overflow-x:hidden;
    overflow-y:auto;
}


#menu {
    border-right: 1px solid #e0e0e0;
    margin-left: -241px; /* "#menu" width */
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #efefef;
        }

        #menu .pure-menu-selected a {
            color: #fff;
        }

    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/



    .menu-link span,
    .menuright-link span
     {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after,
    .menuright-link span,
    .menuright-link span:before,
    .menuright-link span:after
    {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after,
        .menuright-link span:before,
        .menuright-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after,
        .menuright-link span:after {
            margin-top: 0.6em;
        }


.menu-link,
.menuright-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 400;
    width: 2em;
    height: auto;
    padding: 2.9em 1.6em;
}

.menu-link{
    left: 0; /* "#menu width" */
}

.menuright-link {
    right: 0; /* "#menu width" */
}

.header {
    padding-left: 4em;
    padding-right: 2em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {


    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 240px; /* left col width "#menu" */
        left: 0;
    }

    #menu {
        left: 241px;
    }

    .menu-link {
        position: fixed;
        left: 240px;
        display: none;
    }

    #layout.active .menu-link {
        left: 240px;
    }

    #page{
        left:240px;
    }

    .item a{
    opacity:.7;
    }

    .panel > .header{
        left: 240px !important;
    }
}
