.admin_box{
	width:			90%;
	border:			1px solid #999;
	background:		#ccc;
	box-shadow:		0 2px 4px #aaa;
	margin:			10px;
	border-radius:	3px;
}

.admin_box_title{
	font-size:	14pt;
	padding:	5px;
	margin:		0;
	border-bottom: 1px solid #999;
	background:	#bbb;
}

.admin_box_content{
	padding:	10px;
	max-height:	300px;
	overflow:	auto;
}

.admin_table{
	border-collapse: 	collapse;
	text-align:			center;
	border-spacing:		0;
	margin:auto;
}

.admin_table td{
	padding:			5px;
}

.admin_table td:nth-child(1){
	color:				rgb(0,160,232);
	text-align:			right;
}