*{
	margin:		0;
	padding:	0;
	border:		0;
}

img{
	max-width:	100%;
	max-height:	100%;
	margin:		0;
}

body{
	font-family: 	Century Gothic, sans-serif;
	background:		#ddd;
}

a{
	text-decoration: none;
	color:#333;
}

a:visited{
	color: #333;
}

/**
 * Main area 
 */

#container{
	position:	absolute;
	left:		0;
	right:		0;
	top:		30px;
	bottom:		0;
	overflow:	hidden;
}

/**
 * Displaying of the boards
 */

#menubar{
	position:	absolute;
	top:		0;
	left:		0;
	right:		0;
	line-height:30px;
	height:		30px;
	background:	#ccc;
	border-bottom:	1px solid #aaa;
	z-index:	10;
	box-shadow:	0px 1px 2px #ccc;
}

.menubar-button{
	display:	inline-block;
	margin:		0 10px 0 0;
}

.menubar-button a:hover{
	color:		white;
	text-shadow:#555 1px 1px 1px;
}

#menu{
	position:	absolute;
	left:		0;
	width:		250px;
	top:		0;
	bottom:		0;
	background:	white;
	overflow-x:	hidden;
	overflow-y:	auto;
	border-right:	1px solid rgba(0,0,0,.3);
	z-index:	5;
}

#menu * a{
	display:	block;
}

.menu_dir{
	margin:			10px;
	padding:		5px;
	cursor:			pointer;
	-webkit-transition:	background ease-in-out .2s;
	transition:			background ease-in-out .2s;
}

.menu_dir:hover{
	background:	#ddd;
}

.menu_subdir{
	margin:			0px 15px 3px 15px;
	padding:		3px;
	cursor:			pointer;
	font-size:		10pt;
	-webkit-transition:	background ease-in-out .2s;
	transition:			background ease-in-out .2s;
}

.menu_subdir:hover{
	background:	#ddd;
}

.selected{
	border-left:	5px solid rgb(0,160,232);
}

.selected a{
	color:		rgb(0,160,232);
}

.align_left{
	position:	absolute;
	left:		20px;
}

.align_right{
	position:	absolute;
	right:		20px;
}

.boards_panel_thumbs, .boards_panel_special{
	position:	absolute;
	left:		270px;
	right:		0;
	top:		0;
	bottom:		0;
	overflow-x:	hidden;
	overflow-y:	auto;
}

.board_header{
	width:			100%;
	vertical-align:	center;
	margin-bottom:	70px;
}

.board_title{
	font-size:		20pt;
	margin:			10px;
	color:			black;
}

.button{
	padding:			7px;
	border-radius:		3px;
	font-size:			10pt;
	color:				white;
	border:				1px solid;
	cursor:				pointer;
	min-width:			80px;
	text-align:			center;
	display:			inline-block;
	margin:				5px;
	-webkit-transition:	background-color ease-in-out .2s;
	transition:			background-color ease-in-out .2s;
}


.button.orange{
	background-color:	rgb(232,160,0);
	border-color:		rgb(200,140,0);
}

.button.orange:hover{
	background-color:	rgb(222,120,0);
}

.button.pink{
	background-color:	rgb(232,0,160);
	border-color:		rgb(200,0,140);
}

.button.pink:hover{
	background-color:	rgb(222,0,120);
}

.button.red{
	background-color:	rgb(232,20,20);
	border-color:		rgb(150,50,50);
}

.button.red:hover{
	background-color:	rgb(200,0,0);
}

.button.green{
	background-color:	rgb(0,232,160);
	border-color:		rgb(0,200,140);
}

.button.green:hover{
	background-color:	rgb(0,222,120);
}

.button.blue{
	background-color:	rgb(0,160,232);
	border-color:		rgb(0,140,200);
}

.button.blue:hover{
	background-color:	rgb(0,120,222);
}


.button a{
	color:			white;
}

.board_header .button{
	margin:			0px 0px 0px 0px;
}

.board_line{
	text-align:		center;
}

.board_item{
	display:		inline-block;
	padding:		0;
	height:			130px;
	margin:			0px;
}

.board_item img{
	opacity:		0;
	-webkit-transition:	opacity ease-in-out .2s;
	transition:			opacity ease-in-out .2s;
}

.board_item:hover img{
	opacity:		.5;
}

/**
 * Displaying of an image
 */

.layout_image{
	background:	black;
	position:	absolute;
	top:		0;
	left:		0;
	right:		0;
	bottom:		0;
}

.boards_panel_image{
	position:	absolute;
	left:		0px;
	right:		0;
	bottom:		0;
	height:		150px;
	overflow-y:	hidden;
	overflow-x:	scroll;
	white-space: nowrap; 
	z-index:	2;
}

.boards_panel_image .board_header, .boards_panel_image .subdirs{
	display:	none;
}

.boards_panel_image .board_line{
	display:		inline-block;
	margin-right:	4px;
}

.boards_panel_image .board_item{
	width:			120px !important;
}

.box{
	position:	absolute;
	z-index:	3;
	background:	black;
	overflow:	auto;
	color:		white;
}

.box_title{
	font-family: 'Quicksand', sans-serif;
	font-size:		25pt;
	margin:			10px;
	color:			white;
}

#exif{
	left:			0;
	width:			15%;
	top:			0;
	bottom:		160px;
	border-right:	1px solid rgba(0,0,0,.3);
}

#center{
	position:	absolute;
	left:		15%;
	top:		0;
	right:		15%;
	bottom:		160px;
	text-align:	center;
}

#image_big{
	position:	absolute;
	left:		0;
	top:		0;
	right:		0;
	bottom:		50px;
}

#bar{
	position:	absolute;
	left:		0;
	height:		30px;
	right:		0;
	bottom:		0;		
}

.bar_button{
	display:	inline-block;
	width:		100px;
}

.bar_button a{
	color:		white;
}

.bar_button a:hover{
	color:		rgb(0,160,232);
}

#comments{
	right:			0;
	width:			15%;
	top:			0;
	bottom:			160px;
	border-left:	1px solid rgba(0,0,0,.3);
}

table.data{
	margin:				auto;
	width:				100%;
	border-collapse: 	separate;
	*border-collapse: 	collapse;
	/* IE7, collapse table to remove spacing */
	text-align:			center;
	border-spacing:		0;
	cursor: 			default;
	color:				white;
	font-size:			10pt;
}

table.table_rights{
	margin:				auto;
	width:				100%;
	border-spacing:		0;
	cursor: 			default;
	color:				white;
	font-size:			10pt;
}

table.data tr{
	height:30px;
}

table.data tr:hover{
	text-shadow: #333 1px 1px 1px;	
}

td.td_data{
	color:	rgb(0,160,232);
	text-align:right;
}

.comment_id{
	margin:		10px 0 2px 5px;
	font-size:			10pt;
}

.comment_data{
	color:			white;
	margin:			0 0 0 10px;
	padding:		5px;
	font-size:		10pt;
	border-left: 	1px solid;
}

.comment:nth-child(odd) .comment_id{
	color:		rgb(232,160,0);
}

.comment:nth-child(odd) .comment_data{
	border-color: 	rgb(232,160,0);
}

.comment:nth-child(even) .comment_id{
	color:		rgb(0,160,232);
}

.comment:nth-child(even) .comment_data{
	border-color:	rgb(0,160,232);
}

#comments_display{
	position:absolute;
	top:50px;
	bottom:200px;
	left:0;
	right:0;
	overflow:auto;
}

#comments_form_div{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:200px;
	overflow:hidden;
}

form#comments_form{
	margin-top:10px;
}

form#comments_form .label{
	color:rgb(0,232,160);
}

form#comments_form input,form#comments_form textarea {
	font-family: 	"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 		13pt;
	font-weight: 	normal;
	line-height: 	normal;
	width:			90%;
	border-radius: 	3px;
}

textarea {
	vertical-align: 	top;
	height:				50px;
	overflow:			auto;
	margin: 			2px 0px 10px 0px;
}

.niceform * input[type="password"], .niceform * input[type="text"]{
	font-size:			15pt;
	margin:				5px;
	padding:			5px;
	border:				1px solid #ccc;
	box-shadow:			inset 0 2px 10px #999;
	border-radius:		3px;
	-webkit-transition:	border-color ease-in-out .3s;
	transition:			border-color ease-in-out .3s;
}

.niceform * input[type="password"]:focus, .niceform * input[type="text"]:focus{
	border:				2px solid rgb(0,160,232);
	margin:				4px;
	outline:			none;
}

.niceform * input[type="password"]:hover, .niceform * input[type="text"]:hover{
	border:				2px solid;
	border-color:		rgb(0,160,232);
	margin:				4px;
	outline:			none;	
}

.niceform a{
	color:				rgb(0,161,232);
}


.niceform a:hover{
	color:				rgb(0,120,200);
}

.inc_title{
	font-family: 'Quicksand', sans-serif;
	font-size:		25pt;
	margin:			10px 0px 20px 0px;
}